# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.db
*.egg
*.egg-info/
dist/
build/

# -----------------------------
# Django
# -----------------------------
*.log
*.pot
*.pyc
staticfiles/
media/
db.sqlite3

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# Environment / Virtualenv
# -----------------------------
venv/
env/
ENV/
.venv/
.Python

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

TODO.md